@import "tailwindcss";

@font-face {
  font-family: 'Cinzel';
  src: url('src/fonts/Cinzel/static/Cinzel-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Cinzel'
}