@import "tailwindcss";

@font-face {
  font-family: 'Cinzel';
  src: url('src/fonts/Cinzel/Cinzel-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Cinzel'
}